* {
    box-sizing: border-box;
    font-size: 16px;
}

.logoFont {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

.siteFont {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*navigation*/

header nav{
    z-index: 3;
    top: 0; 
    width: 100%;
    height: 4.3125rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: midnightblue;
}
nav ul{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
}
nav img{
    width: 2rem;
    height: 2rem;
}
nav div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    color: white;
    cursor: pointer;
}
nav div img{
    filter: invert(100%);
    margin-right: 0.5rem;
}
nav div h1{
    font-size: 2rem;
}
 nav a{
    margin-left: 1rem;
    text-decoration: none;
    color: white;
}
#menuToggle{
    display: none;
    filter: invert(100%);
}

#sideMenu{
    display: none;
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    nav div h1{
        font-size: 1.2rem;
    }
    nav img{
        height: 1.8rem;
        width: 1.8rem;
    }
    nav ul{
        font-size: 0.9rem;
        margin-right: 0.7rem;
    }
    nav a{
        margin-left: 0.8rem;
    }
    nav div{
        margin-left: 0.7rem;
    }
}

@media only screen and (max-width: 480px){
    nav div h1{
        font-size: 1.2rem;
    }
    nav img{
        height: 1.8rem;
        width: 1.8rem;
    }
    nav ul li{
        display: none;
    }
    #menuToggle {
        display: block;
        cursor: pointer;
    }
    #sideMenu {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 8rem;
        background-color: midnightblue;
        list-style: none;
        top: 0;
        margin: 0;
        margin-top: -8.3125rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        cursor: default;
    }
    #sideMenu li{
        z-index: 2;
        margin-bottom: 0.6rem;
        display: none;
        cursor: pointer;
    }
}

/*Main section: About Me*/
main{
    margin-top: 4.3125rem;
    width: 100%;
    background-color: #c0c5ce; 
}

#aboutMe{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#aboutLeft {
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#aboutLeft h2{
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
}

#aboutLeft img{
    width: 10rem;
    height: auto;
    margin: 1rem;
}
#aboutLeft figcaption {
    text-align: center;
    margin-bottom: 0.8rem;
}

#aboutRight{
    width: calc(100% - 14rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem 4rem;
}
#aboutRight h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}
#txtSumm {
    text-align: justify;
    margin-bottom: 0.8rem;
    font-weight: 450;
    line-height: 1.4;
}

#aboutRight ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    cursor: default;
}
#aboutRight ul li{
    margin: auto 1rem;
    font-weight: 600;
}
#aboutRight ul li:hover{
    color: rebeccapurple;
}

#aboutRight2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 1rem 0rem;
}

#aboutRight2 .exSect{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0.8rem;
    margin-right: 1.5rem;
}
#aboutRight2 .exSect span {
    margin: 0.4rem 0;
}
#aboutTM {
    display: none;
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    #aboutMe{
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #aboutLeft {
        display: none;
    }
    #aboutRight{
        display: none;
    }
    #aboutTM {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #summTM {
        width: 84%;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #summTM h2 {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 0.8rem;
    }
    #summTM p {
        text-align: justify;
        line-height: 1.3;
        margin-bottom: 0.8rem;
    }
    #summTM ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        cursor: default;
    }
    #summTM ul li{
        margin-bottom: 0.8rem;
        font-weight: 600;
    }
    #summTM ul li:hover{
        color: rebeccapurple;
    }
    .exTM {
        width: 84%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 1rem;
    }
    .exTM h2{
        font-size: 1.2rem;
        font-weight: 800;
    }
    .exTM ul {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .exTM ul li{
        margin-bottom: 0.4rem;
    }
}

@media only screen and (max-width: 480px){
    #aboutMe{
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #aboutLeft {
        display: none;
    }
    #aboutRight{
        display: none;
    }
    #aboutTM {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #summTM {
        width: 84%;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #summTM h2 {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 0.8rem;
    }
    #summTM p {
        text-align: justify;
        line-height: 1.3;
        margin-bottom: 0.8rem;
    }
    #summTM ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        cursor: default;
    }
    #summTM ul li{
        margin-bottom: 0.8rem;
        font-weight: 600;
    }
    #summTM ul li:hover{
        color: rebeccapurple;
    }
    .exTM {
        width: 84%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0.7rem;
    }
    .exTM h2{
        font-size: 1.2rem;
        font-weight: 800;
        margin-bottom: 0.8rem;
    }
    .exTM ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .exTM ul li{
        margin-bottom: 0.4rem;
    }
}

/*Main section: Projects*/

#projects {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#projRight{
    width: 14rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#projRight h2{
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
}

#projRight img{
    width: 10rem;
    height: auto;
    margin: 1rem;
}
#projCont{
    width: calc(100% - 14rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0.5rem 4rem;
}
#projCont h2{
    display: none;
}
#projCont h3{
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0.8rem 0;
}
#projCont ul{
    width: 70%;
    list-style: circle;
    margin-left: 1.2rem;
    line-height: 1.4;
}
#projCont ul li{
    margin: 0.6rem auto;
    font-weight: 450;
    text-align: justify;
}

@media only screen and (max-width: 768px){
    #projects {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #projRight{
        display: none;
    }
    #projCont{
        width: 84%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0;
    }
    #projCont h2{
        display: block;
        font-size: 1.8rem;
        font-weight: 700;
        margin: 0.8rem 0;
    }
    #projCont h3{
        font-size: 1.4rem;
        font-weight: 600;
        margin: 0.8rem 0;
    }
    #projCont ul{
        width: 100%;
        list-style: circle;
        margin-left: 0.4rem;
        line-height: 1.4;
    }
    #projCont ul li{
        margin: 0.6rem auto;
        font-weight: 450;
        text-align: justify;
    }
}

/*Skills Section*/

.skillSect {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.skLeft{
    width: 14rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.skLeft h2{
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.skLeft img{
    width: 10rem;
    height: auto;
    margin: 1rem;
}

.skRight{
    width: calc(100% - 14rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0.5rem 4rem;
}

.skRight h2{
    display: none;
}
.skRight div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.skRight img{
    width: 4rem;
    height: auto;
    filter: contrast(90%);
    margin: 0.3rem;
}

@media only screen and (max-width: 768px){
    .skillSect {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .skRight{
        width: 84%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0;
    }
    .skLeft {
        display: none;
    }
    .skRight h2{
        display: block;
        font-size: 1.8rem;
        font-weight: 700;
        margin: 0.8rem 0;
    }
    .skRight img {
        width: 3rem;
    }
}

/*Certificates section*/
#certsList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#certsList ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#certsList ul li {
    height: 3.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
}
#certsList ul li img{
    width: 3rem;
    margin-right: 0.8rem;
    object-fit: contain;
}

footer{
    width: 100%;
    height: 2rem;
    background-color: midnightblue;
    color: white;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
footer span{
    margin-left: 2rem;
    font-size: 1.2rem;
}